<h1> New User </h1>

< action="/createUser" method="post">
<p><input type="text" name="firstname"></p>
<p><input type="text" name="lastname"></p>
<p><input type="text" age="age"></p>
<p><input type="text" name="phone"></p>
<p><input type="text" name="Email"></p>

<input type="submit">
</form>